<body>
    <section id="not-found">
      <div id="title"> &bull;</div>
      <div class="circles">
        <p>404<br>
         <small>PAGE NOT FOUND</small>
        </p>
        <span class="circle big"></span>
        <span class="circle med"></span>
        <span class="circle small"></span>
      </div>
    </section>
   </body>
  