nav > a {
  padding: 5px;
  text-decoration: none;
}
nav > a.active {
  background-color: #3b3b58;
}
.header-row{
  width: 100%;
}
.header-toolbar {
  margin-bottom: 20px;
}
.mat-toolbar.mat-primary {
  background: #326295;
  color: #fff;
}
.container {
    max-width: 1110px;
    padding-right: 16px;
    padding-left: 16px;
}
.row {
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}
.col-xs-12 {
  padding-left: 0;
  padding-right: 0;
  flex-basis: 100%;
  max-width: 100%;
}
.header {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0;
}
.header-movBackground {
  height: 490px;
  position: relative;
  padding: 1rem;
}
.header-movBackground--small {
  overflow: hidden;
  height: 400px;
}
.header-bgImage .header-colorBg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.header-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    padding: 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    background-color: hsla(211, 50%, 39%, 0.88);
    box-shadow: 0 3px 10px rgba(0,0,0,.2);
}
.header-centerBar {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 67px;
}
.heaLogo {
  width: 90px;
  height: auto;
  margin: 0;
}
.heaLogo-img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.heaLogo-img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.heaMenu {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: .875rem;
  color: #fff;
  font-weight: 300;
  align-self: stretch;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  align-items: stretch;
}
* {
  box-sizing: border-box;
}
* {
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: Raleway,sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}
.heaMenu-item_container {
  position: relative;
}
.menToggle {
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  background-color: #fff;
  position: absolute;
  top: 100%;
  font-family: Raleway,sans-serif;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  overflow: hidden;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.box_link {
  width: 300px;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding: .75rem 1.5rem;
}
.box_link-title {
  color: #204578;
  font-weight: 700;
  font-size: 1rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.box_link-title-icon {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ff6964;
  margin: 0 1.25rem 0 0;
}
.heaMenu-link {
  padding: 1.75rem 1rem;
  box-sizing: border-box;
  text-decoration: none;
  color: rgb(254, 254, 255);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-transform: uppercase;
}
.box_link:last-of-type {
  margin: 0;
}
.btn_menu {
  -webkit-tap-highlight-color: transparent;
  align-self: center;
  font-size: 2rem;
  color: #f90;
  display: none;
  cursor: pointer;
}
[class*=" icon-"], [class^=icon-] {
  font-family: icomoon !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
