<!-- <mat-toolbar class="header-toolbar" color="primary">
  <mat-toolbar-row>
    <div class="container">
      <div class="row between-xs middle-xs header-row">
        <nav>
          <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
          <a mat-button routerLink="/products" routerLinkActive="active"
            >Productos</a
          >
          <a mat-button routerLink="/economy" routerLinkActive="active"
            >Economia</a
          >
        </nav>
        <a routerLink="/order" mat-raised-button [matBadge]="total$ | async" matBadgeColor="warn">
          <mat-icon>shopping_cart</mat-icon>
          Carrito
        </a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar> -->
<div class="row">
  <div class="col-xs-12">
    <section class="header-container" id="headerBar">
      <section class="header-centerBar">
        <div class="heaMenu-link">
          <a routerLink="/home" mat-raised-button>
            <span class="material-icons">home</span> Inicio
          </a>
        </div>
        <nav class="heaMenu">

          <div class="heaMenu-item_container">
              <a routerLink="/products" class="heaMenu-link">Ver Productos</a>
          </div>
          <div class="heaMenu-item_container">
              <a routerLink="/economy" class="heaMenu-link">Consultar datos de economia</a>
          </div>
          <div class="heaMenu-link">
              <a routerLink="/order" mat-raised-button [matBadge]="total$ | async" matBadgeColor="warn">
                <span class="material-icons">
                  shopping_cart
                  </span>
              </a>
          </div>
        </nav>
        <span class="btn_menu icon-menu" id="btn_menu"></span>
      </section>
    </section>
  </div>
</div>
