
<div class="container">
  <mat-horizontal-stepper>
    <mat-step>
      <ng-template matStepLabel>Sus productos</ng-template>
      <div *ngIf="(products$ | async) as products">
          <p *ngIf="products.length === 0">No hay productos</p>
          <div class="row" *ngFor="let product of products">
            <div class="col-xs-12 col-sm-2 col-md-2">
              <div class="box">
                <img class="image" [src]="product.image" alt="">
              </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5">
              <div class="box">
                {{ product.title }}
              </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5">
              <div class="box">
                {{ product.price }}
              </div>
            </div>
          </div>
      </div>    
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Pago</ng-template>
      <mat-card>
        <mat-card-header>
          <mat-card-title> Para proceder con su pedido por favor presione el boton de pagar a continuación.</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Le recordamos que la seguridad de su pago está garantizada.</p>
        </mat-card-content>
        <mat-card-actions>
          <div class="content">
            <button routerLink="/payment" mat-raised-button color="primary">Pagar</button>
          </div>
        </mat-card-actions>
      </mat-card>
      
    </mat-step>
  </mat-horizontal-stepper>
</div>

