.container {
  min-width: 576px !important;
  max-width: 1110px !important;
  padding-right: 16px !important;
  padding-left: 16px !important;
}
.image{
  max-width: 100%;
}
.mat-card {
  background: hsla(99, 35%, 42%, 0.5098039215686274) !important;
}