img {
    position: absolute;
    top: 26%;
    left: 84%;
    width: 50px;
    transform: translate(-50%, -50%);
}
.container {
    min-width: 576px !important;
    max-width: 1110px !important;
    padding-right: 16px !important;
    padding-left: 16px !important;
  }