<div class="product-grid container">
    <mat-card *ngFor="let currency of economy">
        <mat-card-header>
          <mat-card-title>{{ currency.key | uppercase }}</mat-card-title>
          <mat-card-subtitle>{{ currency.value | currency }}</mat-card-subtitle>
          <div *ngIf="currency.key === 'dolar'">
            <img src="../../../assets/images/dolar.png" alt="">
          </div>
          <div *ngIf="currency.key === 'cobre'">
            <img src="../../../assets/images/cobre.png" alt="">
          </div>
          <div *ngIf="currency.key === 'euro'">
            <img src="../../../assets/images/euro.png" alt="">
          </div>
          <div *ngIf="currency.key === 'oro'">
            <img src="../../../assets/images/oro.png" alt="">
          </div>
          <div *ngIf="currency.key === 'plata'">
            <img src="../../../assets/images/plata.png" alt="">
          </div>
          <div *ngIf="currency.key === 'yen'">
            <img src="../../../assets/images/yen.png" alt="">
          </div>
          <div *ngIf="currency.key === 'ipc'">
            <img src="../../../assets/images/percentage.png" alt="">
          </div>
          <div *ngIf="currency.key === 'ivp'">
            <img src="../../../assets/images/percentage.png" alt="">
          </div>
          <div *ngIf="currency.key === 'utm'">
            <img src="../../../assets/images/percentage.png" alt="">
          </div>
          <div *ngIf="currency.key === 'uf'">
            <img src="../../../assets/images/percentage.png" alt="">
          </div>
        </mat-card-header>
        <mat-card-content>
          <p>{{ currency.name }}</p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>
