.header {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0;
}
.header-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    padding: 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.header-colorBg {
    bottom: 0;
    background-color: rgba(32,69,120,.4);
    height: 100%;
    z-index: 2;
}
.header-colorBg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.header-movBackground {
    height: 490px;
    position: relative;
    padding: 1rem;
}
.container {
    width: 100%;
}
.row {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}
.services {
    margin: 7rem 0 0;
}
* {
    box-sizing: border-box;
}
.services-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    max-width: 980px;
    width: 90%;
    margin: 0 auto;
}
.services .serElement {
    border-radius: .4rem;
    width: 220px;
    min-height: 320px;
    margin: 0 0 1.5rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column wrap;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
}
.services-title {
    margin: 0 0 2rem;
}
.title--subtitle {
    font-family: Kanit,sans-serif;
    font-weight: 700;
    font-size: 2.188rem;
    margin: 0 0 2rem;
    padding: 0;
    display: block;
    text-align: center;
    color: #204578;
}
.services .serElement-icon {
    width: 50px;
    height: auto;
}
.services .serElement-icon canvas {
    width: 100%;
    height: auto;
}
.services .serElement-name {
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
    margin: 0;
    padding: 0;
    width: 95%;
    text-align: center;
}
.services .serElement-description {
    width: 85%;
    font-size: .75rem;
    text-align: center;
    color: #fff;
}
.services .serElement-btn {
    padding: .5rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: .4rem;
    font-size: .8125rem;
    font-weight: 500;
    margin: 0 0 1rem;
}
.btn--primary-transparent {
    background: transparent;
}
.btn--primary {
    margin: 0;
    border: 0 solid transparent;
    font-size: .875rem;
    text-decoration: none;
    padding: .8rem 2rem;
    border-radius: .3rem;
    text-align: center;
    color: #fff;
    font-weight: 500;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}