<div class="row">
  <div class="col-xs-12">
    <header class="header header--inicio">
      <section class="header-movBackground" id="bgVideo">
        <section class="header-colorBg">
          <section class="headerCarousel owl-carousel owl-loaded owl-drag" id="headerCarousel">
          </section>
        </section>

        <div id="video_background_video_0" style="z-index: 1; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; overflow: hidden;">
          <video width="1903" height="1071" autoplay="" loop="" onended="this.play()" style="position: absolute; top: -290px; left: 0px;">
          <source src="https://tinet.cl/wp-content/uploads/2019/11/group_hd.mp4" type="video/mp4">
          </video>
        </div>
      </section>
    </header>
  </div>
</div>
<div class="col-xs-12">
  <section class="services">
    <h2 class="services-title title--subtitle">Compras garantizadas</h2>
    <section class="services-container">
  <article class="serElement" style="background: #ff9900">
    <figure class="serElement-icon">
      <img src="../../../assets/images/proteger.png" alt="">
    </figure>
    <h3 class="serElement-name">Seguridad transaccional</h3>
    <div class="line line--blue"></div>
    <p class="serElement-description">
      Tu compra sera de forma segura ya que tenemos la mejor seguridad para todas tus compras y con cualquiera de tus tarjetas.
    </p>
    <a mat-raised-button [routerLink]="['/products']" class="serElement-btn btn--primary btn--primary-transparent">Ir a comprar</a>
  </article>
  <article class="serElement" style="background: #204578">
    <figure class="serElement-icon">
      <img src="../../../assets/images/truck.png" alt="">
    </figure>
    <h3 class="serElement-name">Entrega agil</h3>
    <div class="line line--blue"></div>
    <p class="serElement-description">
      Tendras una entrega de forma agil y en las mejores condiciones al hacer tu entrega.
    </p>
    <a mat-raised-button [routerLink]="['/products']" class="serElement-btn btn--primary btn--primary-transparent">Ir a comprar</a>
  </article>
  <article class="serElement" style="background: #167563">
    <figure class="serElement-icon">
      <img src="../../../assets/images/quality.png" alt="">
    </figure>
    <h3 class="serElement-name">Productos de calidad</h3>
    <div class="line line--blue"></div>
    <p class="serElement-description">
      Contamos con la mejor tecnologia en todo lo que vendemos, 100% originales.
    </p>
    <a mat-raised-button [routerLink]="['/products']" class="serElement-btn btn--primary btn--primary-transparent">Ir a comprar</a>
  </article>
  <article class="serElement" style="background: #dd9933">
    <figure class="serElement-icon">
      <img src="../../../assets/images/ux.png" alt="">
    </figure>
    <h3 class="serElement-name">Experiencia de usuario</h3>
    <div class="line line--blue"></div>
    <p class="serElement-description">
      Contamos con un diseño muy comodo para que tu experiencia en la compra sea totalmente unica y agradable, para que vuelvas sin pensarlo dos veces.
    </p>
    <a mat-raised-button [routerLink]="['/products']" class="serElement-btn btn--primary btn--primary-transparent">Ir a comprar</a>
  </article></section>      </section>
</div>