<div class="container">
    <mat-card class="color-card-green">
        <mat-card-header>
            <mat-card-title>Su compra ha sido exitosa</mat-card-title>
            <mat-card-subtitle>Gracias por preferirnos!!</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="row" *ngFor="let product of products"></mat-card-content>
        <mat-card-footer></mat-card-footer>
    </mat-card>
</div>