@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo);

footer {
  padding: 50px 0px;
  margin-top: 20px;
  background-color: #326295;
  .box {
    h3 {
      color: white;
    }
    input{
      color: white;
    }
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
        margin: 10px 0px;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
.container {
  max-width: 1110px;
  padding-right: 16px;
  padding-left: 16px;
}