<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Acerca de Bice Store</h3>
          <ul>
            <li><a href="https://www.bicevida.cl/" target="blank">Sobre nosotros</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Productos</h3>
          <ul>
            <li>
              <a routerLink="/products" [queryParams]="{ type: 'news' }"
                >Ultimos Productos</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Contacto</h3>
          <mat-form-field>
            <input matInput placeholder="Digite su correo" [formControl]="emailField" type="email">
          </mat-form-field>
          <button mat-raised-button [disabled]="emailField.invalid" (click)="sendMail()">enviar</button>
        </div>
      </div>
    </div>
  </div>
</footer>
