
<app-banner></app-banner>
<section class="section section-light mt-none mb-none pb-xs">
    <div class="container" id="experience">
        <div class="row">
            <div class="col-md-12 heading heading-primary heading-bottom-border">
            <h2 class="mb-none">¿Por qué comprar con nostros?</h2>
            <p class="mb-none">Conoce cómo es la experiencia de nuestros consumidores</p>
            </div>
        </div>
        <div style="display: flex;">
            <div class="featured-box featured-box-primary featured-box-effect-1 mr-xs ml-xs" style="height: 433px;">
                <div class="box-content">
                    <i class="icon-featured fa fa-user appear-animation bounceIn appear-animation-visible" data-appear-animation="bounceIn"></i>
                    <h4 class="text-uppercase font-weight-bold">Enfoque hacia el cliente</h4>
                    <p class="text-justify">Tu organización entenderá cómo trabajar con los indicadores de calidad de servicio y así mejorar los resultados.</p>
                    <p>
                    <a href="#" class="link-primary learn-more">
                        Conoce más <i class="fa fa-angle-right"></i>
                    </a></p>
                </div>
            </div>
            <div class="featured-box featured-box-primary featured-box-effect-1 mr-xs ml-xs" style="height: 433px;">
                <div class="box-content">
                    <i class="icon-featured fa fa-user appear-animation bounceIn appear-animation-visible" data-appear-animation="bounceIn"></i>
                    <h4 class="text-uppercase font-weight-bold">Enfoque hacia el cliente</h4>
                    <p class="text-justify">Tu organización entenderá cómo trabajar con los indicadores de calidad de servicio y así mejorar los resultados.</p>
                    <p>
                    <a href="#" class="link-primary learn-more">
                        Conoce más <i class="fa fa-angle-right"></i>
                    </a></p>
                </div>
            </div>
            <div class="featured-box featured-box-primary featured-box-effect-1 mr-xs ml-xs" style="height: 433px;">
                <div class="box-content">
                    <i class="icon-featured fa fa-user appear-animation bounceIn appear-animation-visible" data-appear-animation="bounceIn"></i>
                    <h4 class="text-uppercase font-weight-bold">Enfoque hacia el cliente</h4>
                    <p class="text-justify">Tu organización entenderá cómo trabajar con los indicadores de calidad de servicio y así mejorar los resultados.</p>
                    <p>
                    <a href="#" class="link-primary learn-more">
                        Conoce más <i class="fa fa-angle-right"></i>
                    </a></p>
                </div>
            </div>
            <div class="featured-box featured-box-primary featured-box-effect-1 mr-xs ml-xs" style="height: 433px;">
                <div class="box-content">
                    <i class="icon-featured fa fa-user appear-animation bounceIn appear-animation-visible" data-appear-animation="bounceIn"></i>
                    <h4 class="text-uppercase font-weight-bold">Enfoque hacia el cliente</h4>
                    <p class="text-justify">Tu organización entenderá cómo trabajar con los indicadores de calidad de servicio y así mejorar los resultados.</p>
                    <p>
                    <a href="#" class="link-primary learn-more">
                        Conoce más <i class="fa fa-angle-right"></i>
                    </a></p>
                </div>
            </div>
        </div>
    </div>
</section>