section.section {
    background: #f4f4f4;
    border-top: 5px solid #f1f1f1;
    margin: 30px 0;
    padding: 50px 0;
}
section-light {
    background-color: #ffffff !important;
    border-color: #f2f2f2 !important;
}
.mb-none {
    margin-bottom: 0 !important;
}
.mt-none {
    margin-top: 0 !important;
}
.pb-xs {
    padding-bottom: 5px !important;
}
.container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
html .heading-primary, html .lnk-primary, html .text-color-primary {
    color: #0088cc !important;
}
.col-md-12 {
    width: 100%;
}
.featured-boxes {
    margin-bottom: 30px;
    margin-top: 45px;
}
.featured-box {
    background: #F5F5F5;
    background: -webkit-linear-gradient(top, #FFF 1%, #fcfcfc 98%) repeat scroll 0 0 transparent;
    background: linear-gradient(to bottom, #FFF 1%, #fcfcfc 98%) repeat scroll 0 0 transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #DFDFDF;
    border-left: 1px solid #ECECEC;
    border-radius: 8px;
    border-right: 1px solid #ECECEC;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.04);
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    min-height: 100px;
    position: relative;
    text-align: center;
    z-index: 1;
}
.mr-xs {
    margin-right: 5px !important;
}
.ml-xs {
    margin-left: 5px !important;
}
.box-content {
    border-top-color: #0088cc;
}
.box-content {
    border-radius: 8px;
    border-top: 1px solid #4ec710;
    border-top-width: 4px;
    padding: 30px 30px 10px 30px;
    position: relative;
    top: -1px;
}
.icon-featured {
    background-color: #0088cc;
}
.bounceIn {
    -webkit-animation-name: bounceIn;
    -moz-animation-name: bounceIn;
    -o-animation-name: bounceIn;
    animation-name: bounceIn;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.font-weight-bold {
    font-weight: 700 !important;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.featured-box .learn-more {
    display: block;
    margin-top: 10px;
}