.product-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px 20px;
}

.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 67px;
  margin-right: auto;
  margin-left: auto;
}

// @media (min-width: 576px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  // .container {
  //   max-width: 1110px;
  //   padding-right: 16px;
  //   padding-left: 16px;
  // }
// }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

img {
  max-width: 100%;
}
.mat-raised-button.mat-primary {
  background-color: #326295;
}
.color-card-green {
  background: hsla(99, 35%, 42%, 0.5098039215686274);
}